.buttons div {
	width: 170px;
	height: 100;
	margin: 5px;
	float:left;
}
.buttons div button {
	width:90%;
	height:80%;
	margin-bottom: 5px;
	overflow:hidden;
	float:right; 
}
.buttons {
	float:left;
	width:100%;
}
.content{
	clear:both;
}
.panel {
	float:left;
	width:100%;
}


body {
  padding : 10px ;
 	
}