.buttons div {
	width: 10%;
	height: 10%;
	margin: 5px;
	float:left;
}
.buttons div button {
	width:90%;
	height:100%;
	float:right; 
}
.buttons {
	float:left;
	width:100%;
}
.content{
	clear:both;
}


body {
  padding : 10px ;
 	
}